#root{
    display: flex;
    flex-direction: column;
}

.form-newEvent{
flex-basis: 50%;
flex-direction: column;
}
.form-register{
    flex-basis: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}
.list-button{
    margin: 5px 0px 0px 5px;
    padding: 0px 5px 6px 5px;
    height: 1.7em;
    width: 6em;
    border-radius: .20em;
}
.location-link{
    display: flex;
    flex-wrap: inherit;
    flex-flow: row wrap;
    margin-right: 5px;
}

.cancelled{
    color: firebrick;
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
    justify-content:left;
    width: 75%;
    border-radius: .25em;
}
.list-item{
display: flex;
flex-wrap: wrap;
flex-flow: row wrap;
margin-left: 15px;
margin-right: 25px;
justify-content:left;
}