@import url('https://fonts.googleapis.com/css?family=Raleway:200');

#root{
    display: flex;
    flex-direction: row;
    width:100%;
}
.form-newEvent{
flex-direction: column;
flex-wrap: wrap;
margin-left: 20%;
margin-right: 20%;
padding: 5px 5px 5px 5px;
justify-content:left;
border-width: 5px;
border-style: ridge;
border-color: #815988;;
}
.form-register{
    flex-basis: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}
.list-button{
    margin: 5px 0px 0px 5px;
    padding: 0px 5px 6px 5px;
    height: 1.7em;
    width: 6em;
    border-radius: .20em;
}
.location-link{
    display: flex;
    flex-flow: row wrap;
    margin-right: 5px;
    width: 100%;
}
.dance-link{
    display: inline;
    justify-content: center;
}
.top-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:left;
    margin-bottom: 40px;
    border-radius: 5%;
}

.card-dance{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    width: 70%;
    margin-left: 15%;
    margin-right: 25%;
    overflow: hidden;
    border-width: 5px;
    border-style: ridge;
    border-color: #815988;;
}
.list-item{
display: flex;
flex-wrap: wrap;
flex-flow: row wrap;
margin-left: 25%;
margin-right: 25%;
justify-content:left;
padding-left: 1em;
justify-content: flex-start;
}
.list-title{
    display: flex;
    align-content: center;
    width: 100%;
}
.nav-link{
    flex-direction: column;
    align-content: space-between;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-container{
display: flex;
flex-direction: column;
align-content: left;
width:50%;
/* border-color: blue; */
margin-left: 25%;
margin-right: 25%;
/* margin-bottom: 10%; */
box-sizing: content-box;
}
.form-group{
align-content: left;
width: auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-grow: 1;
}
.form-group-long{
align-content: left;
width: auto;
margin-top: 1%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-grow: 1;
}
.form-container-large{
display: flex;
flex-direction: column;
align-content: left;
width:90%;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
box-sizing: content-box;
border-width: 5px;
border-style: ridge;
border-color: #815988;
}
.card-detailed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    /* margin-top: 5px; */
    /* margin-bottom: 5%; */
    padding: 5px 5px 5px 5px;
    justify-content:left;
    width: 60%;
    border-width: 5px;
    border-style: ridge;
    border-color: #815988;
    box-sizing: content-box;
}
.list-button-row{
    justify-content: space-evenly;
    width: 100%;
}
.form-filter{
    display: flex;
    flex-direction: row;
    border-style: none;
    width: 100%;
    justify-content: space-around;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgb(247, 245, 248) ;
  }
  .gradient-border {
    --borderWidth: 5px;
    width: 100%;
    position: relative;
    border-radius: var(--borderWidth);
    background: linear-gradient(60deg, #a398a5, #ab95ad, #a181a7, #a877b1);
  }
  .gradient-border:after {
    content: '';
    position: relative;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(90% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #9c8c9e, #9e88a1, #a181a7, #906697);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  section{
      width: 100%;
  }
  .gradient-border:before {
    content: '';
    position: relative;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(90% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #9c8c9e, #9e88a1, #a181a7, #906697);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  p{
    text-indent: 2em;
    margin-right: 2em;
}

  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

