#root{
    display: flex;
    flex-direction: column;
}

.form-newEvent{
flex-basis: 50%;
flex-direction: column;
}
.form-register{
    flex-basis: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}
.list-button{
    margin: 5px 0px 0px 5px;
    padding: 0px 5px 6px 5px;
    height: 1.7em;
    width: 6em;
    border-radius: .20em;
}
.location-link{
    display: flex;
    flex-wrap: inherit;
    flex-flow: row wrap;
    margin-right: 5px;
    width: 20%;
}

.cancelled{
    color: firebrick;
}

.club-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20%;
    margin-top: 1%;
    justify-content:left;
    width: 50%;
    margin-bottom: 1%;
    border-style: solid;
    border-color: blue;
    border-radius: 5%;
    align-content: left;
}
.list-item{
display: flex;
flex-wrap: wrap;
flex-flow: row wrap;
margin-left: 15px;
margin-right: 25px;
justify-content:left;
padding-left: 5px;
justify-content: flex-start;
}
.list-title{
    justify-content: space-around;
    display: flex;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-content: left;
    width:50%;
    border-color: blue;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    box-sizing: content-box;
    }
    .container{
    display: flex;
    flex-direction: column;
    align-content: center;
    width:30%;
    border-color: blue;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    justify-content: center;
    flex-wrap: wrap;
}
