.navBar{
    display: flex;
    color: blueviolet;
    align-content: space-around;
    flex-basis: row;
    width: 90%;
    align-content: center;
    margin-left: 10%;
    flex-wrap: wrap;
}
.nav-item{
display: flex;
flex-direction: row;
align-content: space-evenly;
}
.nav-link{
    flex-direction: column;
    align-content: space-between;
}
.visited{
    color: aqua;
}
